@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #6e12d8;
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover-text-color);
}

:root {
    --text-size: 0.8rem;
    --regular-text-size: 1rem;
    --title-size: 2rem;
    --text-weight: 200;

    --primary-color: #6e12d8;
    --secondary-color: #ac39da;
    --hover-text-color: #a0a0a0;
    --text-color: #ffffff;
}

body {
    background-color: black;
}

/* -------------------- Navbar -------------------- */
.mobile {
    display: none;
}

.laptop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    overflow: hidden;
}

.laptop a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--regular-text-size);
    font-weight: var(--text-weight);
    transition: all 0.3s;
}

.home {
    transition: 1s all;
}

.nav-components {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.svg {
    width: 30px;
}

.impagination {
    max-width: 70vw;
    margin: 0 auto;
}

.btn {
    display: flex;
    gap: 10px;
    position: relative;
    padding: 1rem 2rem;
    font-size: var(--regular-text-size);
    border-radius: 30px;
    align-items: center;
    color: var(--text-color);
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    border: none;
    user-select: none;
    transition: all 0.3s;
    z-index: 1;
}

.btn-a {
    text-decoration: none;
}

.btn-svg {
    width: 20px;
}

.varient {
    display: flex;
    gap: 10px;
    padding: 1rem 2rem;
    font-size: var(--regular-text-size);
    border-radius: 30px;
    align-items: center;
    color: var(--text-color);
    border: none;
    user-select: none;
    transition: all 0.3s;
    background: transparent;
    border: 2px solid var(--text-color)
}

/* -------------------- Hero -------------------- */
.hero {
    height: auto;
    user-select: none;
}

.hero-content {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.hero-content a {
    display: flex;
    justify-content: center;
}

.hero-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-container img {
    width: 200px;
}

/* -------------------- Private section -------------------- */
.private-sec {
    height: auto;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.text h1 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: bold;
    width: 300px;
}

.text p {
    color: var(--hover-text-color);
    font-size: var(--regular-text-size);
    font-weight: var(--text-weight);
    width: 300px;
}

.line {
    width: 16vw;
}

.prv-title {
    font-size: var(--title-size);
    font-weight: bold;
}

.center-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-color);
    align-items: center;
    width: auto;
    margin-top: 4rem;
    gap: 2rem;
}

.topic {
    display: flex;
    font-size: var(--title-size);
    font-weight: var(--text-weight);
    align-items: center;
    color: var(--text-color);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    width: 70vw;
    color: var(--text-color);
    align-items: center;
}

.info-cont {
    display: flex;
    gap: 10px;
    font-size: var(--regular-text-size);
    align-items: center;
}

.info-cont p {
    width: 40vw;
    font-weight: var(--text-weight);
}

.info-cont-gym {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-size: var(--text-size);
    align-items: center;
}

.info-cont-gym p {
    width: 16vw;
    font-weight: var(--text-weight);
    font-size: 20px;
}

.info-image img {
    width: 300px;
}

.upper {
    margin-top: 4rem;
    overflow: hidden;
}

.gapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.info-cont svg {
    width: 50px;
}

.info-cont a {
    transition: all 0.3s;
    text-decoration: none;
    color: var(--text-color);
}

/* -------------------- Footer section -------------------- */
.footer {
    height: auto;
    margin: 4rem 0 1rem 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: var(--hover-text-color);
    font-size: var(--text-size);
}

.content img {
    width: 1rem;
}

/* -------------------- Call to action -------------------- */
.call-to-action {
    height: 30vh;
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    margin-top: 4rem;
    overflow: hidden;
}

.call-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 4rem;
}

.call-p {
    font-weight: var(--text-weight);
    font-size: var(--title-size);
    color: var(--text-color);
    text-align: center;
}

.centerator {
    display: flex;
    justify-content: center;
}














/*? -------------------- Hover -------------------- ?*/
@media screen and (min-width: 1024px) {
    .laptop a:hover {
        color: var(--hover-text-color);
    }

    .home:hover {
        transform: rotate(360deg);
        filter: brightness(50%);
    }

    .btn:hover {
        cursor: pointer;
        background: linear-gradient(90deg, var(--primary-color), var(--primary-color));
    }

    .varient:hover {
        cursor: pointer;
        background: var(--text-color);
    }

    .varient:hover p,
    .varient:hover img {
        filter: brightness(0);
    }

    .info-cont a:hover {
        transform: scale(1.1);
        filter: brightness(50%);
    }
}











/*! -------------------- Ipad -------------------- !*/
@media screen and (max-width: 1440px) {

    /* -------------------- Call to action -------------------- */
    .call-to-action {
        height: auto;
    }

    .call-p {
        font-weight: var(--text-weight);
        font-size: var(--regular-text-size);
        color: var(--text-color);
        text-align: center;
    }

    .centerator {
        display: flex;
        justify-content: center;
    }
}

/*! -------------------- Mobile -------------------- !*/
@media screen and (max-width: 768px) {
    .laptop {
        display: none;
    }

    .fixed-navbar {
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 10;
        overflow: visible;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }

    .nav-upper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 10;
        padding: 1rem;
        background-color: #000000;
    }

    #menu {
        background-color: transparent;
        border: none;
    }

    .impagination {
        max-width: 90vw;
        margin: 0 auto;
    }

    .menu-container {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
        backdrop-filter: blur(10px);
        top: 0;
        background-color: #000000;
        overflow: hidden;
        animation: menu 0.3s linear;
        padding-top: 1rem;
    }

    .content-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .content-menu a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 24px;
        font-weight: var(--text-weight);
    }

    .line {
        width: 24vw;
    }

    /* -------------------- Hero -------------------- */
    .hero {
        height: auto;
        margin-top: 10rem;
        overflow: hidden;
    }

    .hero-content {
        margin-top: 0;
        gap: 4rem;
    }

    .hero-center {
        flex-direction: column;
    }

    .img-container img {
        display: none;
    }

    .text {
        gap: 1rem;
        justify-content: center;
        text-align: center;
    }

    .text h1 {
        font-size: var(--title-size);
    }

    .text p {
        font-size: var(--regular-text-size);
    }

    /* -------------------- Private section -------------------- */
    .prv-title {
        font-size: var(--regular-text-size);
    }

    .topic {
        font-size: 20px;
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin-top: 4rem;
        width: 90vw;
        color: var(--text-color);
        align-items: normal;
    }

    .info-cont {
        display: flex;
        gap: 1rem;
        font-size: var(--text-size);
        align-items: center;
        width: 90vw;
    }

    .info-cont .svginfo {
        width: 16px;
    }

    .info-cont p {
        width: 80vw;
        font-weight: var(--text-weight);
    }

    .info-cont-gym {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .info-cont-gym p {
        width: 50vw;
        font-size: var(--text-size);
    }

    .info-image img {
        width: 150px;
    }

    .upper {
        margin-top: 4rem;
        overflow: hidden;
    }

    .gapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .info-cont svg {
        width: 30px;
    }

    #hobbies {
        gap: 1rem;
        justify-content: center;
    }

    /* -------------------- Footer section -------------------- */
    .content {
        font-size: 10px;
    }

    .content img {
        width: 10px;
    }

    /* -------------------- Call to action -------------------- */
    .call-to-action {
        height: auto;
    }

    .call-p {
        font-weight: var(--text-weight);
        font-size: var(--regular-text-size);
        color: var(--text-color);
        text-align: center;
    }

    .centerator {
        display: flex;
        justify-content: center;
    }





    @keyframes menu {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}